.div1{
  margin-top:4rem;
  text-align:center;
}
.div2{
padding-top: 2rem;
  text-align:center;
}
.hh
{
  padding-top: 2rem;
  text-align: center;
  font-family: 'Courgette', cursive;
font-family: 'Pacifico', cursive;

}
